@font-face {
    font-family:'headerfont' ;
    src: url(fonts/headfont.ttf) format('truetype');
}

@font-face {
    font-family:'mm' ;
    src: url(fonts/Martian_Mono/static/MartianMono/MartianMono-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "newsheader";
    src: url(fonts/Chunk.ttf) format(truetype);
}


*{
    color: rgb(60, 98, 85);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: mm;
    background-color: rgb(234, 231, 177);
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
}
#main{
    width:100%;
    height: 115vh;
}

#heading{
    width:100%;
    height: 15vh;
    font-weight: bold;
    font-size: 13px;
}
#heading .headLinks{
    position: relative;
    top:40%;
    transform: translateY(-50%);
    left: 35%;
    width: 100%;

}

#heading .headLinks a{
    text-decoration: none;
    padding: 20px;
}

#heading .searchBar{
    margin-left: 80px;
    display: inline;
    padding: 15px;
    padding-top: 8px;
    padding-bottom: 9px;
    background-color: rgb(60, 98, 85);
    border-radius: 20px;
}

#heading .headLinks a.log{
    padding: 5px;
    text-decoration: underline;
    text-underline-offset: 1px;
    color: #61876E;
}

#heading .headLinks a.logLink{
    padding-left: 20px;
}

#heading .searchBar input{
    height: 30px;
    border: none;
    background-color: rgb(60, 98, 85);
    color: rgb(234, 231, 177);
    padding-left: 10px;
}

#heading .searchBar input::placeholder{
    color: rgb(234, 231, 177);
    font-family: mm;
    font-size: 11px;
}


#heading .searchBar button{
    width:30px;
    height: 30px;
    padding: 11px;
    margin-left: -10px;
    background-image: url(./images/search.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border : none;
    background-color: rgb(60, 98, 85);
}

.header{
    background-position: center;
    background-size: cover ;

}
.head:hover{
    color: #2e2e2e;
}

#logo{
    height: 7vh;
    margin-left: 1%;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.backgroundText{
    width: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.backgroundText .bgText{
    
    text-align: center;
    font-size : 130px;
    font-weight: bolder;
    letter-spacing: 25px;
    color: rgb(60, 98, 85);
    text-shadow: 1px 1px 10px rgb(60, 98, 85);
}

.backgroundText .bgOverlay{
    background-color: rgba(234, 231, 177, 0.832);
    width: 100%;
    height: 200px;
    position: absolute;
    top:0;
}

#footer{
    width: 100%;
    height: 25vh;
    background-color: rgb(60, 98, 85);
    position: absolute;
    bottom:-25%;
    color: white;
}

/* .catContainer{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0;
    gap: 60px;
    z-index: 0;
} */
.footlogo{
    height: 30%;
    position: relative;
    left: 10%;
    top: 50%;
    transform: translate(0,-50%);
    width: 13%;
}
.footlogo img{
    width: 100%;
    height: 100%;
}
.contacts{
    position: relative;
    list-style-type: none;
    bottom: 34%;
    left : 27%;
    transform: translate(0,50%);

}
.contacts li{
    font-size: 12px;
    padding: 4px;
}
.contachVL{
width : 2px;
height : 15vh;
position: absolute;
background-color: rgb(97, 135, 110);
bottom: 50%;
transform: translateY(50%);
left:25%;

}
.contacts li img{
    height: 22px;
}
.contacts li p{
    color: rgb(234, 231, 177);
    display: inline;
    position: relative;
    left: 10px;
    top: -7px;
}

.contacts li img.facebook{
    padding-right: 8px;
}

.contactus{
    position: relative;
    left: 70%;
    bottom: 70%;
}

.contactus h3{
    color: rgb(234, 231, 177);
    font-size: 16px;
    padding: 5px;
}

.contactus textarea{
    background-color:  rgb(234, 231, 177);
    border-radius:10px;
    padding: 10px;
    width: 16%;
}

.contactus textarea::placeholder{
    color:rgb(97, 135, 110);
    font-weight: bold;
}
.contactus button{
    position: absolute;
    top: 71%;
    left : 17.3%;
    background-color:  rgb(234, 231, 177);
    border: 0;
    width: 80px;
    height: 30px;
    font-family: mm;
    font-weight: bold;
    font-size: 11px;
    border-radius: 10px;
}
.contactus button:hover{
    color: #2e2e2e;
    background-color: #61876E;
}


::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-thumb{
    background-color:  rgb(97, 135, 110);
    border-radius: 10px;
    
}

#catBar{
    margin-bottom: 20px;
}
.catBar{
    position: relative;
    left: 52%;
    transform: translateX(-50%);
    width: 670px;
    height: 5vh;
}
.catBar button{
    color: 61876E;
    text-decoration: none;
    position: relative;
    padding: 20px 30px 15px 30px;
    font-weight: bold;
    font-size:16px;
    border: none;   
    background: none;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
}
.catBar .active{
    box-shadow: inset -5px 5px 10px #aba981,
    inset 5px -5px 10px #ffffe1;

}
.catBar button:hover{
    color: #0a0a0a;
}

.newsContainer{
    position: relative;
}
.newsBox{
    width: 90%;
    height: 70vh;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;
    display: grid;
    overflow: scroll;
    grid-auto-rows: minmax(200px,auto);
}
.news{
    color: rgb(47, 50, 48);
    margin: 5px;
    padding-top: 1px;
    padding-left: 10px;
    background-color:#A6BB8D;
    border-radius: 15px;
}

.news h3{
    color:rgb(3,0,9);
    font-weight:bolder;
    font-size: 25px;
    font-family: newsheading;
    width: 90%;

}
.moreButton{
    background: none;
    color: rgb(60, 98, 85);
    border: none;
    padding: 8px;
    font-weight: bold;
    border: none;
    border-radius: 10%;
    font-style: italic;
    cursor: pointer;
}
.moreButton:hover{
    color: #2e2e2e;
    text-decoration: underline ;
}
.description{
    position: relative;
    left: 23%;
    bottom: 18vh;
    width: 75%;
    color: #0a0a0a;
}
.imgWrap{
    position: relative;
    width: 19.5%;
    height: 20vh;
    margin: 1px;
    border: 10%;
    margin-left: 1%;
    border-radius:5px;
    overflow: hidden;  
}
.newsImg{
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
}
.newsImg:hover{
    transform: scale(1.1);

}
.news h3{
    margin: 5px;
}
.loadMore{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    margin: 1px;
    font-size: 16px;
    cursor: pointer;
    background-color:white;
    color:#61876E;
    border:1px solid #A6BB8D;
    border-radius: 5px; 
    font-weight:550;
}
.loadMore:hover{
    background-color:#61876E;
    color: rgb(234, 231, 177);
    transition: 0.2s;
}
.loadMoreContainer{
    position: relative;
    height: 50px ;
    margin: 0%;
    width: 200px ;
    left: 50%;
    transform: translateX(-50%);
    
}